annotated-doc
annotated-types
anyio
certifi
charset-normalizer
click
colorama
fastapi
gemini-webapi
greenlet
h11
httpcore
httpx
idna
loguru
nacos-sdk-python==0.1.12
numpy
orjson
psycopg2-binary
pydantic
pydantic_core
python-dotenv
python-multipart
redis
requests
SQLAlchemy
starlette
typing-inspection
typing_extensions
urllib3
uvicorn